{% extends 'members/base.html' %}
{% load staticfiles %}
{% block title %}O nas{% endblock %}
{% block about %}active{% endblock %}
{% block body %}

<div class="content-section">
    <div class="row">
        <h2 align="center">Jak powstało nasze koło?</h2>
        <h4 align="justify" class="font">Zanim kupisz welsh corgi, przede wszystkim powinieneś wiedzieć,
            że rasy corgi są dwie: cardigan i pembroke. Być może nawet o tym słyszałeś, ale nie zdajesz
            sobie sprawy, czym dokładnie się różnią.
            Ogonem? Rzeczywiście wszystkie cardigany mają ogony, ale dziś już nie wszystkie pembroke’i
            ich nie mają. Jeśli obejrzałeś trochę zdjęć obu ras, zapewne zwróciłeś uwagę, że różnią się
            także rozmiarem uszu (cardigan ma większe), paletą umaszczeń (szersza u cardigana) i
            długością tułowia (cardigan jest dłuższy).
            Oprócz tego obie rasy mają w znacznym stopniu odmienne charaktery.
            <img src="../media/studenci.jpg" class="project-img img-thumbnail" style="width: 300px">
            również ich cechy wspólne mogą wprawić właściciela w zdumienie lub wręcz… przysporzyć mu
            kłopotów.
            Corgi nazywa się czasem dużymi psami w małym opakowaniu. Gwoli ścisłości warto zauważyć,
            że pod względem masy ciała wcale nie zaliczają się do ras naprawdę małych. Krótkie nóżki
            sprawiają, że są niskie. Jednak takiego tułowia i głowy nie powstydziłby się pies średni,
            a charakter… o, ten z pewnością należy do czworonoga wielkiego duchem.

            Zanim kupisz welsh corgi, wiedz, że psy te nie mają żadnych kompleksów z powodu niewielkiego
            wzrostu. To zwierzaki, które lubią postawić na swoim, i to zarówno w odniesieniu do
            pobratymców, jak i ludzi. Wszystkie psy wymagają konsekwencji w wychowywaniu, ale corgi –
            podwójnej. Najmniejszą słabość i ustępliwość bezwzględnie wykorzystają; niektóre – i to nie
            tylko samce, ale szczególnie suki pembroke – mogą stać się domowymi tyranami. Nie wolno o
            tym zapominać, kiedy przyjmujemy pod swój dach puchatą kuleczkę.
        </h4>

        <h2 align="center">Czym się zajmujemy?</h2>
        <h4 align="justify" class="font">Czy to wszystko, co zostało już napisane, oznacza, że corgasa
            należy trzymać krótko i ostro karać za najmniejsze nieposłuszeństwo? Nic bardziej błędnego!
            Dopiero napytałbyś sobie biedy… Mimo siły swej osobowości ten zwierzak jest dosyć wrażliwy.
            Jeżeli spróbujesz do czegoś go zmusić, zamknie się w sobie. Jeśli zaś w odpowiedzi na bierny
            opór potraktujesz corgi jeszcze ostrzej, doprowadzisz do tego, że zacznie się ciebie bać
            albo nawet się odgryzie!
        <img src="../media/studenci2.jpg" class="project-img img-thumbnail" style="width: 300px; float:left">
            Sprawdzają się natomiast metody oparte na pozytywnej motywacji, choć… te inteligentne psy
            dosyć szybko nudzą się ciągłym powtarzaniem tych samych ćwiczeń. Dlatego szkoląc
            przedstawiciela tej rasy, będziesz musiał wykazać się kreatywnością, by podtrzymać jego
            zainteresowanie nauką. Zawsze jednak bądź przygotowany na to, że twój z zaangażowaniem
            wyszkolony corgi podczas zawodów posłuszeństwa stwierdzi, że akurat w tej chwili nie ma
            ochoty popisywać się swoimi umiejętnościami…
        </h4>
    </div>
</div>


{% endblock %}