<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vector{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'about:index' %}">
                Vector IKS
            </a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                      <a href="{% url 'about:index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; O nas
                  </a>
                </li>
                <li class="">
                      <a href="{% url 'projects:index' %}">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp; Nasze projekty
                  </a>
                </li>
                <li class="">
                      <a href="{% url 'members:index' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Członkowie
                  </a>
                </li>
                <li class="">
                      <a href="{% url 'contact:index' %}">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Kontakt
                  </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'projects:project-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj projekt
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'members:member-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj członka koła
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Wyloguj
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>