<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vector{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.3&appId=499627447073403&autoLogAppEvents=1"></script>
    <nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'about:index' %}">
                Vector IKS
            </a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block about %}{% endblock %}">
                      <a href="{% url 'about:index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; O nas
                  </a>
                </li>
                <li class="{% block projects %}{% endblock %}">
                      <a href="{% url 'projects:index' %}">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp; Nasze projekty
                  </a>
                </li>
                <li class="{% block members %}{% endblock %}">
                      <a href="{% url 'members:index' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Członkowie
                  </a>
                </li>
                <li class="{% block contact %}{% endblock %}">
                      <a href="{% url 'contact:index' %}">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Kontakt
                  </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="{% block add-project %}{% endblock %}">
                    <a href="{% url 'projects:project-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj projekt
                    </a>
                </li>
                <li class="{% block add-member %}{% endblock %}">
                    <a href="{% url 'members:member-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj członka koła
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Wyloguj
                    </a>
                </li>
            </ul>
            {% else %}
            {% endif %}
        </div>

    </div>
</nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block body %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3 class="text-center">Nasz kierunek na facebooku  <span class="glyphicon glyphicon-thumbs-up"></span></h3>
            <p class='text-muted'>
            <div class="fb-page" data-href="https://www.facebook.com/InformatykaStosowanaWFA/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/InformatykaStosowanaWFA/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/InformatykaStosowanaWFA/">Informatyka Stosowana i Systemy Pomiarowe</a></blockquote></div>            </p>
          </div>
        </div>
      </div>
    </main>

</body>
</html>