{% extends 'members/base.html' %}
{% load staticfiles %}
{% block title %}{{ project.title }}{% endblock %}
{% block members %}active{% endblock %}
{% block body %}

<article class="media content-section">
    <div class="row">
           {% if user.is_authenticated %}
                <div class="article-metadata">
                    <small class="text-muted" style="margin-left: 20px">
                    <a href="{% url 'members:member-update' member.id %}">Edytuj</a></small>
                </div>
                {% else %}
                {% endif %}

    <img src="{{ member.photo.url }}" class="img-thumbnail rounded float-right project-img">
    <h1 class="article-title" style="margin-left: 20px">{{ member.name }}</h1>
    <p class="article-content project-content" align="justify">Używane technologie: {{ member.technologies }}</p>
    <p class="article-content project-content" align="justify">{{ member.more }}</p>

    </div>
</article>

{% endblock %}